body{
    background-color: #e6f7ff;
}

.sidebox{

    background-color: #417491;
    height: 100%;

    align-content: center;

}

.divider{
    /*width: 66%;*/
    /*height: auto;*/
}

.socialBtn{
    float: left;
    margin-top: 50px;

}

.navSocial{
    height: inherit !important;
    width: auto !important;

    border-radius: 50% !important;

}

.main{
    width: 75%;
    margin-left: 25%;
    padding: 30px;
    /*padding-left: 30px;*/
    /*height: 100%;*/
    right: 0px;

    background-color: lightgray;

}

.main .row{
    border-bottom: solid black 1px ;
}

#bio{
    margin: 0;
    padding-top: 15%;
}

#profile{
    width: 35%;
    float: left;
    margin: 25px;
}

.projectLink{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
}

.linkLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.wrapper{
    /*width: 100%;*/
}

.logo{
    width: 60%;
    height: auto;
    margin-left: 20%;
}


.footer{
    position: fixed;
    bottom: 0px;
    width: 77%;
    right: 0;
    height: 7%;
    background-color: #00134d;
}

.footer p{
    padding: 10px;
}
/*.button{*/
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    /*margin-top: 10px;*/
/*}*/